.nav-title{
    height: 80px;
    background-color: #64b0f7;
}

footer {
    margin-top: 30px;
    width: 100%;
    height: 80px;
    background-color: #64b0f7;
}

.chat-title{
    margin-left: 50px;
    font-size: 40px;
}

.logo-img{
    width: 70px;
}

.logo-img:hover{
    color: #e3e6ff56;
}

.signup-icon{
    border: 1px solid #fff;
    background-color: #fff;
    padding: 12px;
    border-radius: 15px;
}

.search-icon{
    border: 1px solid #fff;
    background-color: #fff;
    padding: 12px;
    border-radius: 15px;
    color: #64b0f7;
}

.search-icon:hover{
    color: #a1d0fc;
}


.login-icon{
    margin-top: 12px;
}

.chat-title:hover{
    color: #a1d0fc;
}

.login-icon, .signup-icon{
    margin-right: 50px;
    font-size: 25px;
}

.login-icon:hover, .signup-icon:hover{
    color: #a1d0fc;
}

.signup-icon{
    text-decoration: none;
    text-decoration-color: none;
    color: #64b0f7;
}

.chat-title, .login-icon{
    text-decoration: none;
    text-decoration-color: none;
    color: #fff;
}

.main-div{
    background-color: #d5ebff;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 60px;
    border: 1px solid #d5ebff;
    border-radius: 10px;
}

.card-post{
    width: 18rem;
    margin: 10px;
}

.categories{
    max-height: 394px;
    max-width: 288px;
}

.image-post{
    max-width:286px;
    max-height:180px;
}

.button-go{
    background-color: #64b0f7;
    border: #64b0f7;
}

.button-go:hover{
    background-color: #e3e6ff;
    border: #e3e6ff;
    color: #64b0f7;
}

.auth-status{
    text-align: end;
    margin-right: 50px;
}

.search-bar{
    width: 600px;
    border: 1px solid #fff;
    border-radius: 10px; 
    padding: 10px;
}

.login-div{
    width: 500px;
    margin: 70px auto;
    border: 1px solid #64b0f7;
    background-color: #64b0f7;
    padding: 20px;
    border-radius: 10px;
}

.login-button{
    border: 1px solid #fff;
    background-color: #fff;
    padding: 12px;
    width: 100px;
    margin-top: 10px;
    color: #64b0f7;
    border-radius: 15px;   
}

.login-button:hover{
    color: #a1d0fc;
}

.label-login{
    color: #fff;
    font-weight: bold;
}

.input-login{
    border: 1px solid #fff;
    border-radius: 10px;
}