{% extends 'base.html' %}


{% block title %}Login | {% endblock %}

{% block content %}

<div class="container d-flex flex-column main-div div-post-content">
    <form class="d-flex flex-column" action="submit" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        
        {{ form }}

        <button type="submit" class="login-button">Post!</button>
    </form>
    {% for message in messages %}

        {{ messages }}

    {% endfor %}
</div>


{% endblock %}


<!--        <label>Titulo: </label>
        <input class="input-login" name="titulo">
        <label>Descrição: </label>
        <textarea class="post-content-input" name="descricao"></textarea>
        <input type="file" id="img" name="img" accept="image/*">
        <label for="img" class="imagem-post">Escolha uma imagem</label>
        <button type="submit" class="login-button">Post!</button>-->