{% extends 'base.html' %}

{% load static %}

{% block title %}Perfil | {% endblock %}

{% block content %}

<div class="d-flex div-perfil shadow" id="div-perfil">

    {% include 'sidebar-perfil.html' %}

    <div class="div-perfil-meio" id="div-perfil-meio">

        <div class="edit-perfil" id="sidebar-perfil">

            <div>

                <a href="/perfil/{{ user.id }}" class="text-dec-none">
                    <h4 class="close-edit-perfil">X</h4>
                </a>

                <div class="container d-flex flex-column main-div div-post-content div-edit-perfil">


                    <!-- {{ j.imagem }}<br> -->
                    <form class="d-flex flex-column" method="post" action="/perfil/{{ user.id }}/submit" id="edit-perf">
                    <!--    {% for j in userinfo %}
                        {% for i in userconf %}
                        {% csrf_token %}

                        <label>Username:</label>
                        <input type="text" value="{{ i.username }}" name="username" class="input-login">

                        <label>First Name: </label>
                        {% if i.first_name %}
                        <input type="text" value="{{ i.first_name }}" name="first_name" class="input-login">
                        {% else %}
                        <input type="text" placeholder="First name..." name="first_name" class="input-login">
                        {% endif %}

                        <label>Last Name:</label>
                        {% if i.last_name %}
                        <input type="text" value="{{ i.last_name }}" name="last_name" class="input-login">
                        {% else %}
                        <input type="text" placeholder="Last name..." name="last_name" class="input-login">
                        {% endif %}

                        <label>Descição: </label>
                        {% if j.descricao %}
                        <textarea type="text" value="{{ j.descricao }}" name="descricao"
                            class="input-login hei">{{ j.descricao }}</textarea>
                        {% else %}
                        <textarea type="text" name='descricao' placeholder="Descição..." class="input-login"></textarea>
                        {% endif %}
                        -->

                        <!-- {% endfor %}

                        {% endfor %}-->
                        {% csrf_token %}
                            {{ form1 }}
                            {{ form2 }}

                            <button type="submit" class="login-button">Submit</button> 

                    </form> 

                    <div>
                        {% for message in messages %}

                            {{ message }}

                        {% endfor %}
                    </div>


                </div>

            </div>
        </div>

    </div>

</div>

<script>
    
    const user = '{{ user.id }}';
    const usuario = document.getElementById('user');
    if (usuario) {
        usuario.value = user;
        usuario.style.display = 'none';
    }

</script>

{% endblock %}