{% extends 'base.html' %}

{% load static %}

{% block title %}Perfil | {% endblock %}

{% block content %}

<div class="d-flex div-perfil shadow" id="div-perfil">

    {% include 'sidebar-perfil.html' %}

    <div class="div-perfil-meio" id="div-perfil-meio">

        <div class="edit-perfil">

            <div>

                <a href="/perfil" class="text-dec-none">
                    <h4 class="close-edit-perfil">X</h4>
                </a>

                <div class="container d-flex flex-column main-div div-post-content div-edit-perfil">



                </div>

            </div>
        </div>

    </div>

</div>


{% endblock %}