{% extends 'base.html' %}


{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="container d-flex flex-wrap align-items-center main-div">
    <h4>Welcome do Django Blog!</h4>
    <p class="main-paragraph">
        This blog was created to practice some Django concepts. The idea it's a blog with all the funcionalites like
        Posts, Users, Comments and more!<br>
        The content of the posts are mostly about computers, programing and all the technologies related!<br>
        Choose your categorie and start reading about!
    </p>
</div>
<div class="container d-flex flex-wrap align-items-center main-div">
    <h4>Categories</h4>
</div>
<div class="container d-flex flex-wrap align-items-center main-div">
    <div class="card card-post">
        <img class="card-img-top image-post" src='static/img/comments-python.jpg' alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Python</h5>
            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua..."</p>
            <a href="categorie/{{ categoria.id }}" class="btn btn-primary button-go">Leia sobre</a>
        </div>
    </div>
    <div class="card card-post">
        <img class="card-img-top image-post" src='static/img/comments-python.jpg' alt="Card image cap">
        <div class="card-body categories">
            <h5 class="card-title">Django</h5>
            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua..."</p>
                <a href="categorie/{{ categoria.id }}" class="btn btn-primary button-go">Leia sobre</a>
        </div>
    </div>
    <div class="card card-post">
        <img class="card-img-top image-post" src='static/img/comments-python.jpg' alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Back-End</h5>
            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua..."</p>
                <a href="categorie/{{ categoria.id }}" class="btn btn-primary button-go">Leia sobre</a>
        </div>
    </div>
    <div class="card card-post categories">
        <img class="card-img-top image-post" src='static/img/comments-python.jpg' alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Como arranjar namorada</h5>
            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua..."</p>
                <a href="categorie/{{ categoria.id }}" class="btn btn-primary button-go">Leia sobre</a>
        </div>
    </div>
</div>

{% endblock %}