{% extends 'base.html' %}


{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="container d-flex flex-wrap align-items-center main-div shadow">
    <h4>Welcome do Django Blog!</h4>
    <p class="main-paragraph">
        This blog was created to practice some Django concepts. The idea it's a blog with all the funcionalites like
        Posts, Users, Comments and more!<br>
        The content of the posts are mostly about computers, programing and all the technologies related!<br>
        Choose your categorie and start reading about!
    </p>
</div>
{% if categoria %}
<div class="container d-flex flex-wrap align-items-center main-div shadow">
    <h4>Categories</h4>
</div>

<div class="container d-flex flex-wrap align-items-center main-div shadow">
{% for categoria in categoria %}
    <div class="card card-post shadow">
        {% if categoria.imagem_categoria.url %}
            <img class="card-img-top image-post shadow" src="{{ categoria.imagem_categoria.url }}" alt="Card image cap">
        {% else %}
            <div class="card-img-top image-post shadow alt-image">Este é um projeto para estudo. O servidor do Heroku apaga imagens inseridas pelo usuário periodicamente</div>
        {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{ categoria.titulo_categoria }}</h5>
            <p class="card-text">{{ categoria.descricao_categoria }}</p>
            <a href="categorie/{{ categoria.id }}" class="btn btn-primary button-go">Leia sobre</a>
        </div>
    </div>
{% endfor %}
{% else %}
<div class="container d-flex flex-wrap align-items-center main-div shadow">
    <div class="no-post shadow">
        <div class="no-post-children shadow">
            <h4 class="font-sorry">Sorry...</h4>
            <h6 class="font-no-post">Any categorie registered.</h6>
        </div>
    </div>
</div>
{% endif %}
</div>

{% endblock %}