{% extends 'base.html' %}

{% load static %}

{% block title %}Posts | {% endblock %}

{% block content %}

<div class="d-flex div-perfil">
    <div class="d-flex flex-column div-perfil-esq">
        <div>
            <img src="{% static 'img/logo.png' %}" class="imagem-perfil">
        </div>
        <div class="d-flex flex-column">
                <p class="list-infos-perfil"><strong>Username:</strong> {{ user.username }}</p>
                <p class="list-infos-perfil"><strong>Fullname:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                <p class="list-infos-perfil"><strong>E-mail:</strong> {{ user.email }}</p>
                <p class="list-infos-perfil"><strong>Descrição: </strong> Eu sou MUITO legal</p>
        </div>
    </div>
    <div class="div-perfil-meio">
        teste
    </div>
    <div class="div-perfil-dir">
        teste
    </div>
</div>


{% endblock %}