{% extends 'base.html' %}


{% block title %}Posts | {% endblock %}

{% block content %}

<div class="container d-flex flex-wrap align-items-center main-div shadow">
    <div class="card card-post">
        {% for post in post %}
        <img class='image-post' src="{{ post.imagem_post.url }}" alt="Card image cap"> 
        <div class="card-body">
            <h5 class="card-title">{{ post.titulo_post }}</h5>
            <p class="card-text">{{ post.sub_titulo }}</p>
            <a href="/post/{{ post.id }}" class="btn btn-primary button-go">Leia sobre</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}