{% load static %}
<div class="d-flex flex-column div-perfil-esq shadow" id="sidebar-perfil">
    <div class="img-container">
        {% if user.person.imagem %}
        <a href="{{ user.id }}/editar-imagem">
            <img src="{{ user.person.imagem.url }}" class="imagem-perfil shadow" id="imagem-perfil" onmouseover="mudarImage()">
        </a>    
        {% else %}
        <a href="{{ user.id }}/editar-imagem">
            <img src="{% static 'img/avatar2.jpg' %}" class="imagem-perfil shadow" id="imagem-perfil" onmouseover="mudarImage()">
        </a>
        {% endif %}
    </div>
    <div>
        <a class="editar-infos-perfil shadow" href="{{ user.id }}/editar-perfil">Editar</a>
    </div>
    <div class="d-flex flex-column">
            <p class="list-infos-perfil shadow" id="editar-perfil"><strong>Username:</strong> {{ user.username }}</p>
            <p class="list-infos-perfil shadow"><strong>Fullname:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            <p class="list-infos-perfil shadow"><strong>E-mail:</strong> {{ user.email }}</p>
            <p class="list-infos-perfil shadow"><strong>Descrição: </strong>{{ user.person.descricao }}</p>
    </div>
</div>

